/* Main Dashboard Container Centering and Styling */
.dashmain {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 25px;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

/* Admin Dashboard Content Styling */
.admin-dashboard-container {
    margin-top: 158px;
    margin-bottom: 158px;
    margin-left: 360px;
    width: 50%;
    padding: 30px 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    background: linear-gradient(135deg, #ffffff, #f9f9f9);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Typography for Header */
.admin-dashboard-title {
    color: #2cb977;
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 26px;
}

/* Room Selection Styling */
.room-selection table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* Header row styling */
.room-selection th {
    text-align: center;
    font-size: larger;
    font-weight: bold;
    padding: 10px;
    background-color: #f1f1f1;
    color: #555;
    border-bottom: 2px solid #ccc;
}

/* Row styling */
.room-row {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.room-row td {
    padding: 12px;
    font-size: 14px;
    color: #333;
}

/* Spacing between rows */
.room-selection tbody tr+tr {
    margin-top: 10px;
}

/* Checkbox styling */
.room-checkbox {
    margin-right: 8px;
    color: #2cb977;
}

.room-checkbox.Mui-checked {
    color: #d72324;
}

/* Hover effect on rows */
.room-row:hover {
    background-color: #f9f9f9;
    border-color: #d72324;
}

/* Button Styling */
.admin-dashboard-button {
    border-radius: 8px;
    padding: 10px 16px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-top: 20px;
    background-color: #d01f1f;
    color: white;
    width: 100%;
}

.admin-dashboard-button:hover {
    transition: all 0.2s ease-in;
    background-color: #d72324;
}

/* Logout Button Styling */
.admin-dashboard-logout {
    color: #fefefe;
    border: 1px solid #d72324;
    border-radius: 8px;
    padding: 10px 16px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-top: 10px;
    width: 30%;
}

.admin-dashboard-logout:hover {
    background-color: #cd0000;
}

/* Input Field Styling */
.admin-dashboard-input {
    margin-top: 10px;
    padding: 12px;
    font-size: 16px;
    width: 100%;
}
